@font-face {
    font-family: "LatoBlack";
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: "LatoBold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "LatoRegular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "LatoLight";
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "LatoThin";
    src: url(../fonts/Lato-Thin.ttf);
}

.lato-black {
    font-family: "LatoBlack" !important;
}

.lato-bold {
    font-family: "LatoBold" !important;
}

.lato-regular {
    font-family: "LatoRegular" !important;
}

.lato-light {
    font-family: "LatoLight" !important;
}

.lato-thin {
    font-family: "LatoThin" !important;
}