/* TABLET SIZE */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* RANDOM */
    #header {
        display: none;
    }
    #header2 {
        margin-top: -3rem;
        margin-left: 30vw;
        display: block;
    }
    #content {
        margin-top: 1rem !important;
    }
    .img-profil {
        margin-top: 2rem;
        width: 100vw !important;
    }
    /* TEXT ADJUST */
    .header {
        font-size: 30px !important;
    }
    .description {
        font-size: 20px !important;
    }
    .text-vertical {
        writing-mode: horizontal-tb !important;
        text-orientation: upright;
    }
}


/* LAPTOP SIZE */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    /* RANDOM */
    .container {
        margin-top: 0rem !important;
    }
    .line-vertical {
        margin-left: 1vw !important;
        height: 18vh !important;
    }
    /* TEXT ADJUST */
    .header {
        font-size: 30px !important;
    }
    .description {
        font-size: 20px !important;
    }
}